* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    height: 64px;
    border-radius: 5px;
    border: 0;
    padding: 18px 35px;
    background: #FD6E0A;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
}

.header {
    background: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

nav ul {
    display: flex;
    align-items: center;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.banner {
    margin: 0 200px;
    display: flex;
    align-items: center;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;
}

.banner-subtitle {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 5px;
}

.banner-description {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}



.about {
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}

.section-title {
    text-align: center;
    margin-bottom: 30px;
    font-style: normal;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: #757575;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;

}

.about-info {}

.info-title {
    color: #757575;
    font-weight: 400;
    font-size: 20px;
}

.info-description {
    color: #474747;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

.what-i-do {
    margin-top: 130px;
    text-align: center;
    font-style: normal;
    font-size: 35px;
    font-weight: 700;
}

.w-i-do-descrp {
    color: #757575;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin-top: 30px;
}

.skills-container {
    display: flex;
    gap: 24px;
    margin-top: 50px;
}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    color: #181818;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill-description {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}

.section-title-resume {
    margin-top: 130px;
    text-align: center;
    font-weight: 700;
    font-size: 35px;
}

.edu-exp-container {
    display: flex;
    margin-top: 113px;
    gap: 24PX;
}

.edu-title {
    color: #474747;
    font-weight: 700;
    font-size: 30px;
}

.edu-major-1 {
    color: #474747;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;
}

.major-1-dur {
    color: #757575;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}

.exp-title {
    color: #474747;
    font-weight: 700;
    font-size: 30px;
}

.edu-details-items {
    margin-top: 30px;
    margin-bottom: 30px;

}

.exp-details-items {
    margin-top: 30px;
    margin-bottom: 30px;
}

.edu-details {}

.cv-btn {
    margin-top: 50px;
    margin-bottom: 113px;
    text-align: center;
}

.contact {
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    padding-top: 130px;
    padding-left: 200px;
    padding-right: 200px;
    
}

.contact-title {
    font-weight: 700;
    font-size: 35px;
    text-align: left;
    margin-bottom: 20px;
    
}

.connect-details {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;
}

.contact input[type="text"], [type="email"], textarea {
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}

input {
    height: 64px;
}